* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'lato',sans-serif;
    color: #515f5a;
    font-size: 16px;
}

:root {
    --green: #96b175;
    --lgreen: #f0f4eb;
    --dgreen: #7d9362;
}

.container {

    max-width: 1140px;
    margin: auto;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
    padding: 0px 15px;
}
.col-5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
    width: 41.666%;
    padding: 0px 15px;
}
.col-6 {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
    padding: 0px 15px;
}

.title,
h1 {
    color: #273732;
    font-size: 64px;
    letter-spacing: 0.2px;
    margin-bottom: 22px;
    font-family: 'arvo', serif;
    font-weight: 500;
}

.title {
    font-size: 40px;
    line-height: 52px;
}

p {
    font-size: 20px;
    margin-bottom: 32px;
    line-height: 36px;
}

.btn {
    background-color: var(--green);
    padding: 16px 44px;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border: 0;
    cursor: pointer;
    display: inline-block;
}
.btn:hover {
    background-color: var(--dgreen);
    color: #fff;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

a {
    color: #273732;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input:focus {
    outline: unset;
}

.text-center {
    text-align: center;
}

/* HEADER */
.header {
    padding: 20px 32px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.header__btn {
    display: none;
}

.header__menu a:hover {
    text-decoration: underline;
    color: var(--green);
}
.header__menu a {
    padding: 6px 8px;
    margin: 0px 13px;
    display: inline-block;
    font-size: 16px;
}

.header .btn {
    font-size: 14px;
}

.header__cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--green);
    margin: 0px 16px;
    background: unset;   
}

.header__cart:hover {
    background-color: var(--dgreen);
    cursor: pointer;
    color: #fff;
}

.header__cart .icon {
    color: var(--green);
}
.header__cart .icon:hover {
    color: #fff;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--green);
    letter-spacing: 0.8px;
}

.header__form {
    background-color: #F5F8F2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 260px;
    padding: 12px 20px;
    overflow: hidden;
}

.header__form input {
    border: 0;
    flex: 1;
    background: unset;
    margin-left: 10px;
    font-size: 14px;
}

.header__form button {
    border: 0;
    background: unset;
}

.header__contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* WELCOME */

.welcome {
    height: 664px;
    position: relative;
}

.welcome .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.welcome__bg {
    position: absolute;
    height: 100%;
    width: calc(50vw - 45px);
    background-size: cover;
    background-position: center center;
    top: 0;
    right: 0;
}

/* FUTURE */

.future {
    padding: 131px 0px;
    background-color: #f4f7f1;
    position: relative;
}

.future__slides {
    position: absolute;
    width: 50vw;
    right: 50%;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

.future__img {
    height: 400px;
    width: 360px;
    background-color: #eaeef3;
    margin-left: 30px;
}

.future__box {
    padding-left: 45px;
}

/* PRODUCT */

.product {
    padding: 96px 0px;
    background-color: #fff;
}

.product__types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.product__types a.active {
    background-color: var(--green);
    color: #fff;
}

.product__list {
    margin-left: -15px;
    margin-right: -15px;
}

.product__types a {
    background-color: #f0f4eb;
    color: #000;
}

.product__box {
    margin-bottom: 113px;
}

.product__img {
    height: 300px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.product__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    display: inline-block;
}

.product__srtuct {
    margin-bottom: 16px;
    line-height: 24px;
}

.product__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

/* NATURE */

.nature {
    padding: 95px 0px;
    background-color: #f4f7f1;
}

.nature__list li:last-child {
    margin-bottom: 0;
}
.nature__list li {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.nature__icon-box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e4edda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nature__icon-box .nature__icon {
    font-size: 25px;
}

.nature__text {
    padding-left: 24px;
    flex: 1;
}

.nature__title {
    font-size: 20px;
    margin-bottom: 11px;
    font-weight: 600;
}

/* PARTNERS */
.partners {
    padding: 86px 0px;
}

.partners__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}

.partners .col-3 {
    padding: 10px;
}

.partners__box {
    background-color: var(--lgreen);
    height: 120px;
}

/* FOOTER */
.footer {
    background-color: #f4f7f1;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
    padding-bottom: 45px;
}

.footer__title {
    font-size: 18px;
    margin-bottom: 25px;
    color: #273732;
}

.footer__menu a {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
}

.footer__social a:last-child {
    margin-right: 0;
}

.footer__social a {
    margin-right: 25px;
}

.footer__subs form {
    display: flex;
    flex-direction: column;
    max-width: 224px;
}

.footer__subs input {
    display: flex;
    width: 100%;
    background-color: #ebf1eb;
    padding: 14px 20px;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 0;
}

.footer__subs .btn {
    display: block;
    width: 100%;
    font-size: 16px;
}

.footer__copy {
    padding: 20px 0px;
    background-color: var(--green);
}

/* MEDIA */
@media only screen and (max-width:1024px) {
    .header {
        padding: 15px;
    }

    .header__menu a {
        margin: 0px 4px;
    }

    .header__form {
        width: 200px;
        padding: 12px;
    }

    .header__cart,
    .header .btn {
        margin-left: 10px;
    }

    h1 {
        font-size: 48px;
    }

    .container {
        padding: 0px 15px;
    }

    .title {
        font-size: 36px;
    }

    .future {
        padding: 90px 0px;
    }

    .future .title {
        margin-bottom: 0;
    }

    .future__img {
        height: 350px;
    }

    .footer .container {
        padding-top: 70px;
    }

    .partners,
    .future,
    .nature,
    .product {
        padding: 70px 0px;
    }
}
@media only screen and (max-width:768px) {
    .header__btn {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        background: unset;
        border: unset;
        margin-right: 15px;
    }

    .header__contact {
        margin-left: auto;
    }

    .header__btn span {
        width: 30px;
        height: 2px;
        background-color: #000;
        position: relative;
        display: block;
    }

    .header__btn span:after,
    .header__btn span:before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: -8px;
        left: 0;
        margin: auto;
    }
    
    .header__btn span:after {
        top: 8px;
    }

    .header__menu {
        position: fixed;
        width: 0;
        background-color: #96b175;
        height: 100%;
        right: -1000px;
        top: 0;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        white-space: nowrap;
    }

    .header__menu.active {
        width: 50vw;
        right: 0;
    }

    .header__menu a {
        color: #fff;
        font-size: 24px;
    }

    .header {
        justify-content: flex-start;
    }

    .welcome {
        height: 500px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    .future__img {
        height: 300px;
        width: 300px;
    }

    .title { 
        font-size: 32px;
        line-height: 42px;
    }

    .product__types {
        overflow: auto;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .product__types a {
        margin-right: 30px;
        white-space: nowrap;
    }

    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
        width: 50%;
        padding: 0px 15px;
    }

    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        padding: 0px 15px;
    }

    .product__list {
        flex-wrap: wrap;
    }

    .product__box {
        margin-bottom: 30px;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .nature__list {
        margin-top: 30px;
    }

    .footer .container {
        flex-wrap: wrap;
        padding-top: 50px;
    }

    .footer__logo {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .footer__social a {
        margin-right: 15px;
    }
}

@media only screen and (max-width:600px) {
    .header .btn,
    .header__form {
        display: none;
    }

    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
        width: 50%;
        padding: 0px 15px;
    }

    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        padding: 0px 15px;
    }

    .welcome {
        height: auto;
        padding-top: 40px;
    }

    .welcome__bg {
        margin-top: 30px;
        position: relative;
        height: 200px;
        width: 100%;
    }

    .future {
        display: flex;
        flex-direction: column-reverse;
    }

    .future__slides {
        position: relative;
        right: 0;
        width: 100%;
        margin-top: 30px;
    }

    .future__img {
        margin: 0px 10px;
    }

    .product__img {
        height: 200px;
    }

    .footer__social,
    .footer__menu {
        flex-basis: 50%;
    }

    .footer__subs {
        flex-basis: 100%;
        text-align: center;
    }

    .footer__subs form {
        margin: auto;
    }
}